.AddServicesCenter {
  padding: 15px;
  min-height: 80vh;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AddServicesCenterItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.AddServicesCenterItemTop {
  display: flex;
  flex-direction: column;
  gap: 6px;
  span {
    font-weight: 600;
    font-size: 20px;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    color: #8f8f8f;
  }
}

.AddServicesCenterItemBottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  span,
  label {
    font-weight: 500;
    font-size: 14px;
  }
}

.AddServicesCenterInputWrap {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  gap: 35px;
}

.AddServicesCenterCall {
  display: flex;
  gap: 10px;
  align-items: center;
  input {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.AddServicesCenterInputcontainer {
  height: 28px;
  position: relative;
  width: 100%;
  color: black;
}

.AddServicesCenterInput {
  border: none;
  border-bottom: 2px solid #d3d3d3;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  outline: 0;
  color: #2a47aa;
  width: 100%;
}

.AddServicesCenterPlaceholder {
  color: black;
  left: 2px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 0px;
}

.AddServicesCenterInput:focus ~ .AddServicesCenterPlaceholder,
.AddServicesCenterInput:not(:placeholder-shown) ~ .AddServicesCenterPlaceholder {
  transform: translateY(-15px) translateX(0px) scale(0.9);
}

.AddServicesCenterInput:-webkit-autofill,
.AddServicesCenterInput:-webkit-autofill:hover,
.AddServicesCenterInput:-webkit-autofill:focus,
.AddServicesCenterInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px #fafafa inset !important;
}




.AddServicesCenterSelectContainer{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #D3D3D3 ;
  padding-bottom: 15px;

  cursor: pointer;
}
.AddServicesCenterSelectContainer>span{
color: #D3D3D3;}
.AddServicesCenterSelectOptions{
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top:18px;
  right: 0px;
  width: 100%;
  border-radius: 10px;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  gap:8px;
  z-index: 1;
  background-color: white;
  padding: 15px;
  span{
    padding: 5px;
border-radius: 5px;
text-align: center;
  }
  span:hover{
    background-color: #f0f0f0;
  }
  // gap:10px
}
.AddServicesCenterAddPricing{
  display: flex;
  flex-direction: column;
  gap:10px;
div{
  display: flex;
  gap:10px;
  justify-content: space-between;
}
}




.AddServicesCenterButton {
  align-self: flex-end;
  display: flex;
  gap: 15px;
  button {
    padding: 12px 16px;
    font-weight: 500;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
}
.AddServicesCenterButtonFirst {
  background-color: white;
  color: #707070;
}
.AddServicesCenterButtonSec {
  color: white;
  background-color: #000e8c;
  border-radius: 6px;
}
