.jobAsking {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .jobAskingContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .jobAskingTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .jobAskingTopDot {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: stretch;
        border-radius: 5px;
        right: 3px;
        top: 25px;
        gap: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        div {
          display: flex;
          justify-content: start;
          border-bottom: 0.5px solid #858585;
          padding-bottom: 5px;
          padding-right: 30px;
          cursor: pointer;
          span {
            font-weight: 500;
            font-size: 12px;
            color: #858585;
          }
        }
      }

      span {
        font-weight: 600;
        font-size: 14px;
      }
      div {
        display: flex;
        gap: 16px;
        align-items: center;
      }
      svg {
        cursor: pointer;
      }
    }
    p {
      font-weight: 500;
      font-size: 14px;
      color: #858585;
    }
    .jobAskingTopImgWrap > img:hover {
      scale: 1.1;
    }
    .jobAskingTopImgWrap {
      display: flex;
      gap: 10px;
      img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }

      span {
        align-self: center;
        font-weight: 500;
        font-size: 12px;
        color: #858585;
      }
    }
  }

  .jobAskingBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      align-items: center;

      span {
        color: #858585;
        font-weight: 500;
        font-size: 12px;

        text-align: center;
      }
    }
    .jobAskingBottomCommentBorder {
      border-left: 1px solid #858585;
      height: 18px;
      margin: 0px 20px;
    }
    .jobAskingBottomCommentImageWrap {
      .jobAskingBottomCommentImage {
        position: relative;
        // left: -12px;
        //   position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%; /* make the img circular */
        border: 2px solid white; /* add white border */
      }
    }
    .jobAskingBottomSvgWrap {
      display: flex;
      flex-grow: 1;
      gap: 20px;
      align-items: center;

      svg {
        cursor: pointer;
      }
    }
    span {
      font-weight: 600;
      font-size: 12px;
      color: #9e9e9e;
      text-align: center;
    }
  }
}
.jobAskingCommentBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  img {
    width: 25px;
    height: 25px;
  }
}
.jobAskingCommentTextArea {
  border: none;
  border-bottom: 0.5px solid #c8c8c8 !important;
  padding-bottom: 4px;
}
.jobAskingCommmentText {
  display: flex;
  align-items: center;
  gap: 15px;
}
.jobAskingSingleComment {
  display: flex;
  gap: 15px;

  align-items: flex-start;
}
.jobAskingSingleCommentRight {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    font-weight: 500;
    font-size: 12px;
  }
}
.jobAskingSingleCommentRightTop {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-weight: 600;
      font-size: 12px;
      color: #263896;
    }
  }
  span {
    font-weight: 500;
    font-size: 10px;
    color: #909090;
  }
}

.jobAskingSingleCommentButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: #919191;
  font-weight: 500;
  max-width: 250px;
  div {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
  img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .jobAskingBottom > span {
    display: none;
  }
  .jobAskingBottomCommentBorder {
    display: none;
  }
  .jobAskingBottomSvgWrap {
    justify-content: end;
  }
}

.jobAskingHireMeContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  span {
    font-weight: 600;
    font-size: 12px;
    color: #9e9e9e;
  }
  button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #263896;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 24px;
  }
}
.jobAskingTopSingleImgWrap {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 250px;
  }
}
