.createPost {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 30px;

  .createPostContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 18px;

    .createPostLeftBar {
      flex: 1;
      div {
        display: flex;
        gap: 15px;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        color: #858585;
        cursor: pointer;
      }
    }
    .createPostCenterWrap {
      flex: 2.5;
      align-self: flex-start;
    }
    .createPostRightBarWrap {
      flex: 1.5;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap:20px;
     
    }
  }
}
 .createPostRightBarWrap>span{
 font-weight: 600;
font-size: 18px;
 }